In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from ydata_profiling import ProfileReport

In [2]:
df = pd.read_csv('/desarrollos/Proyecto-1/Grupo5_Analisis/Data/FuentesOriginales/ESPAÑA/Inmigrantes en España por continente, provincia, sexo, año, sin paises 2018 a 2022.csv', delimiter=';')
df.head()

,Nacionalidad,Sexo,Total Nacional,Comunidades y Ciudades Autónomas,Año,Total
0,EUROPA,Hombres,Total Nacional,01 Andalucía,2022,163.279
1,EUROPA,Hombres,Total Nacional,01 Andalucía,2021,157.404
2,EUROPA,Hombres,Total Nacional,01 Andalucía,2020,155.569
3,EUROPA,Hombres,Total Nacional,01 Andalucía,2019,150.933
4,EUROPA,Hombres,Total Nacional,01 Andalucía,2018,147.234

In [3]:
df.isnull().sum()

Nacionalidad                        0
Sexo                                0
Total Nacional                      0
Comunidades y Ciudades Autónomas    0
Año                                 0
Total                               0
dtype: int64