In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [2]:
df = pd.read_csv('../../../Grupo5_Analisis/Data/FuentesOriginales/MADRID/MADRID_UTF8_CLEAN.csv', delimiter=';')
df.head()

  municipio_codigo,municipio_nombre,distrito_codigo,distrito_nombre,barrio_codigo,barrio_nombre,sexo,nacionalidad,poblacion_empadronada
0  79,Madrid,79601,Centro,796011,Palacio,Hombre,A...
1  79,Madrid,79601,Centro,796011,Palacio,Hombre,A...
2  79,Madrid,79601,Centro,796011,Palacio,Hombre,A...
3  79,Madrid,79601,Centro,796011,Palacio,Hombre,A...
4  79,Madrid,79601,Centro,796011,Palacio,Hombre,A...

In [3]:
df.info

<bound method DataFrame.info of      municipio_codigo,municipio_nombre,distrito_codigo,distrito_nombre,barrio_codigo,barrio_nombre,sexo,nacionalidad,poblacion_empadronada
0     79,Madrid,79601,Centro,796011,Palacio,Hombre,A...
1     79,Madrid,79601,Centro,796011,Palacio,Hombre,A...
2     79,Madrid,79601,Centro,796011,Palacio,Hombre,A...
3     79,Madrid,79601,Centro,796011,Palacio,Hombre,A...
4     79,Madrid,79601,Centro,796011,Palacio,Hombre,A...
...                                                 ...
2555  79,Madrid,79621,Barajas,796215,Corralejos,Muje...
2556  79,Madrid,79621,Barajas,796215,Corralejos,Muje...
2557  79,Madrid,79621,Barajas,796215,Corralejos,Muje...
2558  79,Madrid,79621,Barajas,796215,Corralejos,Muje...
2559  79,Madrid,79621,Barajas,796215,Corralejos,Muje...

[2560 rows x 1 columns]>

In [5]:
df.describe()

       municipio_codigo,municipio_nombre,distrito_codigo,distrito_nombre,barrio_codigo,barrio_nombre,sexo,nacionalidad,poblacion_empadronada
count                                                2560
unique                                               2560
top     79,Madrid,79601,Centro,796011,Palacio,Hombre,A...
freq                                                    1

In [7]:
df.isnull().sum()

municipio_codigo,municipio_nombre,distrito_codigo,distrito_nombre,barrio_codigo,barrio_nombre,sexo,nacionalidad,poblacion_empadronada    0
dtype: int64

In [8]:
df.isnull()

      municipio_codigo,municipio_nombre,distrito_codigo,distrito_nombre,barrio_codigo,barrio_nombre,sexo,nacionalidad,poblacion_empadronada
0                                                 False
1                                                 False
2                                                 False
3                                                 False
4                                                 False
...                                                 ...
2555                                              False
2556                                              False
2557                                              False
2558                                              False
2559                                              False

[2560 rows x 1 columns]