In [ ]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt 
import numpy as np 
import os 
import pandas as pd

In [6]:
nRowsRead = 1000  
df1 = pd.read_csv('../Data/migration_2020.csv', delimiter=',', nrows = nRowsRead)
df1.dataframeName = 'migration_2000.csv'
nRow, nCol = df1.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 5 rows and 5 columns

In [7]:
df1.head(5)

,Country,Stock of foreign population by nationality(Total),Stock of foreign population by nationality(Women),Stock of foreign-born population by country of birth(Total),Stock of foreign-born population by country of birth(Women)
0,Czech Republic,593366.0,253057.0,NaN,NaN
1,Denmark,NaN,NaN,614353.0,308529.0
2,Latvia,260405.0,NaN,236959.0,NaN
3,Norway,604525.0,277391.0,867778.0,419186.0
4,Slovak Republic,78936.0,29796.0,198429.0,95998.0

In [ ]:
plotPerColumnDistribution(df1, 10, 5)