In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../../Data/FuentesOriginales/ESPAÑA/España_total_A.csv', delimiter= ';')
df.head()

  Provincias   Sexo  Periodo       Total
0      Total  Total     2021  47.385.107
1      Total  Total     2020  47.450.795
2      Total  Total     2019  47.026.208
3      Total  Total     2018  46.722.980
4      Total  Total     2017  46.572.132

In [4]:
df.tail()

      Provincias     Sexo  Periodo   Total
4129  52 Melilla  Mujeres     2000  32.287
4130  52 Melilla  Mujeres     1999  27.977
4131  52 Melilla  Mujeres     1998  29.539
4132  52 Melilla  Mujeres     1997     NaN
4133  52 Melilla  Mujeres     1996  29.929

In [5]:
df.describe

<bound method NDFrame.describe of       Provincias     Sexo  Periodo       Total
0          Total    Total     2021  47.385.107
1          Total    Total     2020  47.450.795
2          Total    Total     2019  47.026.208
3          Total    Total     2018  46.722.980
4          Total    Total     2017  46.572.132
...          ...      ...      ...         ...
4129  52 Melilla  Mujeres     2000      32.287
4130  52 Melilla  Mujeres     1999      27.977
4131  52 Melilla  Mujeres     1998      29.539
4132  52 Melilla  Mujeres     1997         NaN
4133  52 Melilla  Mujeres     1996      29.929

[4134 rows x 4 columns]>

In [6]:
df.dtypes

Provincias    object
Sexo          object
Periodo        int64
Total         object
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4134 entries, 0 to 4133
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincias  4134 non-null   object
 1   Sexo        4134 non-null   object
 2   Periodo     4134 non-null   int64
 3   Total       3976 non-null   object
dtypes: int64(1), object(3)
memory usage: 80.8+ KB

In [8]:
df.isnull().sum()

Provincias      0
Sexo            0
Periodo         0
Total         158
dtype: int64