TRABAJOS DE LOS INMIGRANTES EN MADRID

In [1]:
import os
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt
import seaborn as sns

PREPARAR DATOS

In [3]:
df = pd.read_csv("../../Data/FuentesOriginales/MADRID/Madrid_inmigration_2021")
df.head()

,Unnamed: 0,Gender,Age,Studies,Nationality,Administrative_situation,Working
0,0,Women,51-65,College,España,Community,No
1,1,Women,51-65,College,Venezuela,ART,No
2,2,Women,18-30,Pre-college,Honduras,Refugee,No
3,3,Women,18-30,Pre-college,Venezuela,Community,No
4,4,Women,18-30,Pre-college,República Dominicana,Community_familiar,No

In [4]:
display(df['Working'].value_counts())

Working
No     1417
Yes     106
Name: count, dtype: int64

In [5]:
print(df.columns.tolist())
Name=df['Working'].unique().tolist()
N=[0,1]
normal_mapping=dict(zip(Name,N)) 
reverse_mapping=dict(zip(N,Name))        
print(normal_mapping)
df=df.drop('Unnamed: 0',axis=1)
df['Working']=df['Working'].map(normal_mapping)

['Unnamed: 0', 'Gender', 'Age', 'Studies', 'Nationality', 'Administrative_situation', 'Working']
{'No': 0, 'Yes': 1}

In [6]:
df.dtypes

Gender                      object
Age                         object
Studies                     object
Nationality                 object
Administrative_situation    object
Working                      int64
dtype: object