In [2]:
import numpy as np 
import pandas as pd 
import seaborn as sns
from plotly.subplots import make_subplots
import matplotlib.pyplot as plt
from itables import init_notebook_mode
from itables import show
import plotly.express as px
from plotly.offline import iplot, init_notebook_mode
import plotly.offline as py
py.init_notebook_mode(connected=True)

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('../../Data/FuentesOriginales/USAR/evolucion_de_la_poblacion_mundial_y_estimacion_hasta_2100.csv')
df.head(10)

  Año;"Periodo";"Estimación futura"
0            1950;"Año";"2.477.675"
1            1951;"Año";"2.520.970"
2            1952;"Año";"2.565.291"
3            1953;"Año";"2.615.251"
4            1954;"Año";"2.665.307"
5            1955;"Año";"2.718.652"
6            1956;"Año";"2.773.493"
7            1957;"Año";"2.828.513"
8            1958;"Año";"2.887.221"
9            1959;"Año";"2.944.995"

In [4]:
df.describe()

       Año;"Periodo";"Estimación futura"
count                                165
unique                               162
top                                   ;;
freq                                   4

In [5]:
df.isnull().sum()

Año;"Periodo";"Estimación futura"    0
dtype: int64

In [6]:
df.columns

Index(['Año;"Periodo";"Estimación futura"'], dtype='object')

In [7]:
df.dtypes

Año;"Periodo";"Estimación futura"    object
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 1 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Año;"Periodo";"Estimación futura"  165 non-null    object
dtypes: object(1)
memory usage: 724.0+ bytes

In [9]:
df = pd.read_csv ("../../Data/FuentesOriginales/USAR/evolucion_de_la_poblacion_mundial_y_estimacion_hasta_2100.csv", dtype={'size': 'Int8'})
df.head()

  Año;"Periodo";"Estimación futura"
0            1950;"Año";"2.477.675"
1            1951;"Año";"2.520.970"
2            1952;"Año";"2.565.291"
3            1953;"Año";"2.615.251"
4            1954;"Año";"2.665.307"

In [10]:
df.describe()

       Año;"Periodo";"Estimación futura"
count                                165
unique                               162
top                                   ;;
freq                                   4