In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('../../Data/FuentesOriginales/USAR/PoblacionEnero2020SexoEdad.csv', delimiter=';')
df.head(20)

       Sexo  Edad      Provincias             Periodo   Total
0   Hombres     0  Total Nacional  1 de enero de 2020  185084
1   Hombres     1  Total Nacional  1 de enero de 2020  194438
2   Hombres     2  Total Nacional  1 de enero de 2020  208679
3   Hombres     3  Total Nacional  1 de enero de 2020  220142
4   Hombres     4  Total Nacional  1 de enero de 2020  226539
5   Hombres     5  Total Nacional  1 de enero de 2020  230874
6   Hombres     6  Total Nacional  1 de enero de 2020  228100
7   Hombres     7  Total Nacional  1 de enero de 2020  240643
8   Hombres     8  Total Nacional  1 de enero de 2020  249747
9   Hombres     9  Total Nacional  1 de enero de 2020  252052
10  Hombres    10  Total Nacional  1 de enero de 2020  258226
11  Hombres    11  Total Nacional  1 de enero de 2020  271404
12  Hombres    12  Total Nacional  1 de enero de 2020  262296
13  Hombres    13  Total Nacional  1 de enero de 2020  261059
14  Hombres    14  Total Nacional  1 de enero de 2020  255420
15  Hombres    15  Total Nacional  1 de enero de 2020  254214
16  Hombres    16  Total Nacional  1 de enero de 2020  249951
17  Hombres    17  Total Nacional  1 de enero de 2020  243469
18  Hombres    18  Total Nacional  1 de enero de 2020  244697
19  Hombres    19  Total Nacional  1 de enero de 2020  248448

In [9]:
df.tail()

        Sexo  Edad      Provincias             Periodo  Total
197  Mujeres    96  Total Nacional  1 de enero de 2020  21607
198  Mujeres    97  Total Nacional  1 de enero de 2020  16016
199  Mujeres    98  Total Nacional  1 de enero de 2020  10649
200  Mujeres    99  Total Nacional  1 de enero de 2020   7373
201  Mujeres   100  Total Nacional  1 de enero de 2020  10169

In [10]:
df.isnull().sum()

Sexo          0
Edad          0
Provincias    0
Periodo       0
Total         0
dtype: int64

In [ ]:
fig = px.pie(top_count, names= 'country', values= 'growth_rate', color= 'country')
fig.update_layout(title_text ='Top 10 counties with highest growth rate')
fig.show()