In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('../../Data/FuentesOriginales/USAR/2.0.Espa√±a_poblacion_total.csv', delimiter=';')
df.head()

  Provincias   Sexo  Periodo       Total
0      Total  Total     2021  47.385.107
1      Total  Total     2020  47.450.795
2      Total  Total     2019  47.026.208
3      Total  Total     2018  46.722.980
4      Total  Total     2017  46.572.132

In [7]:
df.isnull().sum()

Provincias      0
Sexo            0
Periodo         0
Total         158
dtype: int64